
/*_________________________________________________PAGE QUI SOMMES NOUS______________________________________________*/

/* Rectangle image de qui somme nous */
#imageQSN{
    position: absolute;
    width: 405px;
    height: 649px;
    left: 30px;
    top: 234px;
    border: 5px solid #A44EB3;
    box-sizing: border-box;
    border-radius: 5px;
}

#ligne_blanc_QSN{
    position: absolute;
    width: 925px;
    height: 66px;
    left: 463px;
    top: 230px;
    background: #FFFFFF;
    border-radius: 5px;
}
#qui_sommes_nous{
    margin-top: 10px;
    color: #A44EB2;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#cadre_bleu_contenu_QSN{
    position: absolute;
    width: 924px;
    height: 632px;
    left: 463px;
    top: 296px;
    background: #62C9F5;
    border-radius: 5px;
}

/*Paragraphe d'explication qui sommes nous*/
#paragraphe_qsn{
    margin-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    
    color: white;
}
/*_________________________________________________PAGE APERCU______________________________________________*/

/*Titre h4 Cours en libre acces*/
#titre_cours_libre{
    position: absolute;
    width: 171px;
    height: 21px;
    left: 150px;
    top: 210px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color:white;
}
/*Paragraphes apercu cours*/
#p_cours{
    color: #A44EB3;
}
/*Image qui accompagne l'aperçu du cours*/
#img_apercu{
    margin-top: 20px;
    border: 3px solid #A44EB3;
    box-sizing: border-box;
    border-radius: 5px;
    height: 120px;
    width: 125px;
}

/*Ligne qui contient l'aperçu du cours*/
#ligne_apercu_cours{
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 3px solid #A44EB3;
    box-sizing: border-box;
    border-radius: 5px;
    width: 1147px;
    margin-top: 20px;
}

/*Développement-Cours*/
#h5_titre_cours{
    color: #A44EB3;
    font-weight: bold;
}

/*Position de mon 1er block apercu du cours*/
#colonne_cours{
    padding-left: 200px;
    margin-top: 100px;
}

/*_________________________________________________PAGE FORMATION______________________________________________*/

/*Adresses des centres*/
#adresse{
    padding-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}
#p_horaires{
    margin-top: 20px;
    padding-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

/*Titre liste des centre de formation*/
#titre_liste_formation{
    margin-top: 20px;
    padding-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*Titre dans le block violet formation*/
#titre_distanciel{
    margin-top: 20px;
    padding-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*Paragraphe dans le block violet distanciel*/
#p_distanciel{
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

/*Image qui va avec l'adresse du centre*/
#img_campus{
    width: 180px;
    height: 90px;
}

/*Colonne bleu d ela page formation*/
#colonne_bleu_formation{
    position: absolute;
    width: 574px;
    height: 730px;
    left: 110px;
    top: 205px;
    background: #62C9F5;
    border-radius: 5px;
}

/*Colonne de la page formation*/
#colonne_violette_formation{
    position: absolute;
    width: 574px;
    height: 336px;
    left: 770px;
    top: 206px;
    background: #A44EB3;
    border-radius: 5px;
}

/*_____________________________________________ESPACE STAGIAIRE_______________________________________*/

/*Ligne qui correspond à ma vignette exercice*/
#exercice{
    /* position: absolute; */
    width: 204px;
    height: 135px;
    /* left: 167px;
    top: 282px; */
    background: #FFFFFF;
    border: 3px solid #A44EB3;
    box-sizing: border-box;
    border-radius: 19px;
}


/*Ligne qui correspond à ma vignette cours*/
#cours{
    /* position: absolute; */
    width: 204px;
    height: 135px;
    /* left: 611px; */
    /* top: 282px; */
    background: #FFFFFF;
    border: 3px solid #A44EB3;
    box-sizing: border-box;
    border-radius: 25px;
}

/*Ligne qui correspond à ma vignette examen*/
#examen{
    /* position: absolute; */
    width: 204px;
    height: 135px;
    /* left: 1076px;
    top: 282px; */
    background: #FFFFFF;
    border: 3px solid #A44EB3;
    box-sizing: border-box;
    border-radius: 25px;
}

/*Libellé en paragraphe de mes intitullé*/
.paragraphe_intitule{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #A44EB3;
    margin-top: 80px;
}

/*Logo stylo pour libellé exercice*/
#logo_stylo{
    position: absolute;
    width: 104px;
    height: 80px;
    left: 44px;
    top: 209px;
}

/*Logo examen pour libellé cours*/
#logo_cours{

    position: absolute;
    width: 104px;
    height: 80px;
    left: 48px;
    top: 209px;
}

/*Logo certificat pour libellé examen*/
#logo_certificat{

    position: absolute;
    width: 104px;
    height: 80px;
    left: 45px;
    top: 209px;
}

/*Image logo deconnection qui est aussi en page espace createur*/
#logo_deconnecter{
 
    width: 29px;
    height: 30px;
}

/*_______________________________________________ESPACE CREATEUR________________________________________*/

/*Ligne qui correspond à ma vignette examen*/
#examen2{
    
    position: absolute;
    width: 308px;
    height: 206px;
    left: 1011px;
    top: 408px;
    background: #FFFFFF;
    border: 3px solid #A44EB3;
    box-sizing: border-box;
    border-radius: 255px;
}

/*Ligne qui correspond à ma vignette cours*/
#cours2{
    position: absolute;
    width: 308px;
    height: 206px;
    left: 555px;
    top: 409px;
    background: #FFFFFF;
    border: 3px solid #A44EB3;
    box-sizing: border-box;
    border-radius: 255px;
}

/*Ligne qui correspond à ma vignette exercice*/
#exercice2{
    
    position: absolute;
    width: 308px;
    height: 206px;
    left: 99px;
    top: 408px;
    background: #FFFFFF;
    border: 3px solid #A44EB3;
    box-sizing: border-box;
    border-radius: 255px;
}
/*______________________________________PAGE AFFICHAGE EXERCICE STAGIAIRE_______________________________*/
/*Bouton pour aller a l'exercice suivant*/
#boutonSuivant{
    margin-top: 20px;
    background-color: #62C9F5;
    color: #FFFFFF;
    margin-bottom: 20px;

}
/*Block de fond blanc*/
#blockBlanc{
    width: 600px;
    margin: auto;
}
/*lig*/
#ligneConsigne{
    background: #62C9F5;
    border-radius: 5px;
    width: 380px;
    margin: auto;
    margin-top: 20px;
}
#colonneExo{
    margin: auto;
    margin-top: 10px;
    width: 400px;
}
#titreExercice{
    text-align: center;
    margin-top: 20px;
    color: #62C9F5;
}