
/*_________________________________________________PAGE QUI SOMMES NOUS______________________________________________*/

/* Rectangle image de qui somme nous */
#imageQSN{
    margin-top: 40px;
    margin-left: 80px;
    width: 400px;
    height: 594px; 
    border: 5px solid #A44EB3;
    box-sizing: border-box;
    border-radius: 5px;
    
}

/*Ligne blanche qui contien le titre du paragraphe*/
#ligne_blanc_QSN{
    margin-top: 40px;
    margin-right: 80px;
    width: 624px;
    height: 66px;
    background: #FFFFFF;
    border-radius: 5px;

}

/*Titre du paragraphe*/
#qui_sommes_nous{
    margin-top: 10px;
    color: #A44EB2;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

/*Ligne bleu avec le contenu du paragraphe*/
#cadre_bleu_contenu_QSN{
 
    margin-right: 80px;
    width: 624px;
    height: 532px;
    background: #62C9F5;
    border-radius: 5px;

}

/*Paragraphe d'explication qui sommes nous*/
#paragraphe_qsn{
    margin-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: white;
}

/*_________________________________________________PAGE APERCU______________________________________________*/

/*Titre h4 Cours en libre acces*/
#titre_cours_libre{
    margin-top: 40px;
    padding-left: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color:white;
}

/*Paragraphes apercu cours*/
#p_cours{
    color: #A44EB3;

}

/*Image qui accompagne l'aperçu du cours*/
#img_apercu{
    margin-top: 20px;
    border: 3px solid #A44EB3;
    box-sizing: border-box;
    border-radius: 5px;
    height: 120px;
    width: 125px;

}

/*Ligne qui contient l'aperçu du cours*/
#ligne_apercu_cours{
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 3px solid #A44EB3;
    box-sizing: border-box;
    border-radius: 5px;
    width: 1147px;
    margin-top: 20px;

}

/*Développement-Cours*/
#h5_titre_cours{
    color: #A44EB3;
    font-weight: bold;

}

/*Position de mon 1er block apercu du cours*/
#colonne_cours{
    padding-left: 200px;
    margin-top: 40px;

}

/*_________________________________________________PAGE FORMATION______________________________________________*/

/*Adresses des centres*/
#adresse{
    margin-top: 20px;
    padding-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;

}
/*Paragraphe qui indique les horaire*/
#p_horaires{
    margin-top: 20px;
    padding-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;

}

/*Titre liste des centre de formation*/
#titre_liste_formation{
    margin-top: 20px;
    padding-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

/*Titre dans le block violet formation*/
#titre_distanciel{
    margin-top: 20px;
    padding-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
/*Paragraphe dans le block violet distanciel*/
#p_distanciel{
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;

}

/*Image qui va avec l'adresse du centre*/
#img_campus{
    margin-top: 10px;
    width: 180px;
    height: 90px;

}

/*Colonne bleu d ela page formation*/
#colonne_bleu_formation{
   margin: auto;
    background: #62C9F5;
    border-radius: 5px;

}

/*Colonne de la page formation*/
#colonne_violette_formation{
    margin-top: 100px;
    margin: auto;
    background: #A44EB3;
    border-radius: 5px;

}

/*_____________________________________________ESPACE STAGIAIRE_______________________________________*/

/*Ligne qui correspond à ma vignette exercice*/
#exercice{
    margin-top: 80px;
    width: 204px;
    height: 135px;
    background: #FFFFFF;
    border: 3px solid #A44EB3;
    box-sizing: border-box;
    border-radius: 19px;
    color: #A44EB3;
    font-weight: bold;

}


/*Ligne qui correspond à ma vignette cours*/
#cours{
    margin-top: 80px;
    width: 204px;
    height: 135px;
    background: #FFFFFF;
    border: 3px solid #A44EB3;
    box-sizing: border-box;
    border-radius: 25px;
    color: #A44EB3;
    font-weight: bold;

}

/*Ligne qui correspond à ma vignette examen*/
#examen{
    margin-top: 80px;
    width: 204px;
    height: 135px;
    background: #FFFFFF;
    border: 3px solid #A44EB3;
    box-sizing: border-box;
    border-radius: 25px;
    color: #A44EB3;
    font-weight: bold;

}

/*Libellé en paragraphe de mes intitullé*/
.paragraphe_intitule{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #A44EB3;
    margin-top: 80px;

}

/*Logo stylo pour libellé exercice*/
#logo_stylo{
    width: 80px;
    height: 80px;
    margin: 10px 170px 20px;

}

/*Logo examen pour libellé cours*/
#logo_cours{
    margin: 10px 170px 20px;
    width: 80px;
    height: 80px;

}

/*Logo certificat pour libellé examen*/
#logo_certificat{
    width: 80px;
    height: 80px;
    margin: 10px 170px 20px;

}

/*Image logo deconnection qui est aussi en page espace createur*/
#logo_deconnecter{
    width: 29px;
    height: 30px;

}

/*_______________________________________________ESPACE CREATEUR________________________________________*/

/*bouton pour examen cours exercice*/
#bouton{
    margin-top: 200px;
    width: 208px;
    height: 106px;
    background: #FFFFFF;
    border: 3px solid #A44EB3;
    box-sizing: border-box;
    border-radius: 255px;
    color: #A44EB2;
    font-weight: bold;

}
/*______________________________________PAGE AFFICHAGE EXERCICE STAGIAIRE_______________________________*/
/*Bouton pour aller a l'exercice suivant*/
#NextButton1{
    margin-top: 20px;
    background-color: #62C9F5;
    color: #FFFFFF;
    margin-bottom: 20px;

}

/*Block de fond blanc*/
#blockBlanc{
    width: 600px;
    margin: auto;

}

/*ligne de consigne*/
#LineInstructions{
    background: #62C9F5;
    border-radius: 5px;
    width: 380px;
    margin: auto;
    margin-top: 20px;

}

/*colonne exercice*/
#ColumExercice{
    margin: auto;
    margin-top: 10px;
    width: 400px;

}

/*titre colonne exercice*/
#TitleExercice{
    text-align: center;
    margin-top: 20px;
    color: #62C9F5;

}

/*________________________________________PAGE CREATION EXERCICE____________________________________*/

#buttonValidate{
    margin: auto;
}
.textarea{
    background-color: black;
    color: #FFFFFF;
    border-radius: 5px;
}
/*Input blanc de la page de creation d'un exercice*/
.input{
    border-radius: 5px;
    margin-left: 10px;
}