/*TITRE MASTER CLASSE*/
/*HEADER*/
/*CORP PAGE*/
/* Rectangle image de qui somme nous */
#imageQSN{
    position: absolute;
    width: 348px;
    height: 694px;
    left: 64px;
    top: 234px;
    border: 5px solid #A44EB3;
    box-sizing: border-box;
    border-radius: 5px;
}

#ligne_blanc_QSN{
    position: absolute;
    width: 925px;
    height: 66px;
    left: 463px;
    top: 230px;
    background: #FFFFFF;
    border-radius: 5px;
}
#qui_sommes_nous{
    color: #A44EB2;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#cadre_bleu_contenu_QSN{
    position: absolute;
    width: 924px;
    height: 632px;
    left: 463px;
    top: 296px;
    background: #62C9F5;
    border-radius: 5px;
}

/*Paragraphe de qui sommes nous*/
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

/*Paragraphe d'explication qui sommes nous*/
#paragraphe_qsn{
    /*position: absolute;
    width: 649px;
    height: 109px;
    left: 578px;
    top: 353px;*/
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    
    color: white;
}

/*Titre h4 Cours en libre acces*/
#titre_cours_libre{

    position: absolute;
    width: 171px;
    height: 21px;
    left: 150px;
    top: 210px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: black;
}
/*Image qui accompagne l'aperçu du cours*/
#img_apercu_html{
    margin-top: 20px;
    background-image: url(image\html-5.png);
    border: 3px solid #A44EB3;
    box-sizing: border-box;
    border-radius: 5px;
    height: 120px;
    width: 175px;
}

/*Ligne qui contient l'aperçu du cours*/
#ligne_apercu_cours{
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 3px solid #A44EB3;
    box-sizing: border-box;
    border-radius: 5px;
    width: 1147px;
    margin-top: 20px;
}

/*Développement-Cours*/
#h5_titre_cours{
    color: #A44EB3;
    font-weight: bold;
}

/*Position de mon 1er block apercu du cours*/
#colonne_cours{
    padding-left: 200px;
    margin-top: 100px;
}

/*Adresses des centres*/
#adresse{
    padding-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}
#p_horaires{
    margin-top: 20px;
    padding-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

/*Titre liste des centre de formation*/
#titre_liste_formation{
    margin-top: 20px;
    padding-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*Titre dans le block violet formation*/
#titre_distanciel{
    margin-top: 20px;
    padding-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*Paragraphe dans le block violet distanciel*/
#p_distanciel{
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

/* Image qui va avec l'adresse du centre*/
#img_campus{
    width: 180px;
    height: 90px;
}

/*Colonne bleu d ela page formation*/
#colonne_bleu_formation{
    position: absolute;
    width: 574px;
    height: 730px;
    left: 110px;
    top: 205px;
    background: #62C9F5;
    border-radius: 5px;
}

/*Colonne  de la page formation*/
#colonne_violette_formation{
    position: absolute;
    width: 574px;
    height: 336px;
    left: 770px;
    top: 206px;
    background: #A44EB3;
    border-radius: 5px;
}
