
/*___________________________________________TITRE AVANT HEADER___________________________________________*/
#titreAvantHeader{
    height: 116px;
    background-color: #62C9F5;
}

#titre_masterclasse{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: center;
    color: rgb(250, 250, 250);
}

/* MASTER logo */
#logo{
    position: absolute;
    width: 125px;
    height: 116px;
    left: 6.18%;
    right: 84.42%;
    top: 0%;
    bottom: 23.31%;
}

/*_____________________________________________INSCRIPTION______________________________________________*/
/*Image page inscription*/
.image_inscription{
    max-height: 718px;
    border :10px solid rgba(164, 78, 178, 1);

}

/*Bloc avec le formulaire d'inscription*/
#bloc_inscription{
    position: absolute;
    width: 400px;
    height: 414px;
    left: 204px;
    top: 136px;
    background-color: white;
    border-radius: 5px;
}

/*Colonne qui contient les labels */
#colonneLabel{
    width: 130px;
}

/*Label prenom*/
#labelPrenom{
    margin-top: 40px;
}

/*Label mdp*/
#labelMDP{
    margin-top: 40px;
}

/*Label email*/
#labelEmail{
    margin-top: 30px;
}

/*Input nom*/
#inputNom{
    width: 220px;
    height: 38px;
    left: 287px;
    top: 451px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}

/*Input prenom*/
#inputPrenom{
    width: 220px;
    height: 38px;
    left: 287px;
    top: 451px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 20px;
}

/*Input email*/
#inputEmail{
    width: 220px;
    height: 38px;
    left: 287px;
    top: 451px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 20px;
}
/*Input MDP*/
#inputMDP{
    margin-top: 20px;
    width: 220px;
    height: 38px;
    left: 287px;
    top: 451px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}

/*Paragraphe bienvenue*/
#bienvenue{
    margin-top: 20px;
    text-align: left;
    padding-left: 20px;
}

/*Paragraphe inscrivez-vous*/
#inscrivez_vous{
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
}

/*Bouton d'inscription*/
#bouton_inscription{
    margin-top: 20px;
    background-color: #A44EB2;
    color: white;
    
}

/*_____________________________________________CONNEXION______________________________________________*/

/*image page connexion*/
.image_connexion{
    width: auto;
    max-height: 718px;
    border :10px solid rgba(164, 78, 178, 1)
}

.ligne_connexion{
    height: 639px;
}
/*_______________________________________________HEADER______________________________________________*/
/*couleur titre nav au survol*/
.nav-link:hover {
    color:#62C9F5;
}

/*couleur et marge navbar*/
.navbar{
    margin-bottom: 20px;
    background: #A44EB2;
}

/*couleur des liens navbar*/
.navbar a{
    color: aliceblue;
}
/*______________________________________________CORPS PAGES_______________________________________*/
body{
    background-image: url("../image/Background1920.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
    /* height:100%; */
    /* width:auto; */
}
/*________________________________________________ACCUEIL____________________________________________*/

/*Block principal blanc*/
#bloc_blanc_accueuil{
    margin: 40px 100px 10px;
    width: 532px;
    height: 656px;
    background: #FFFFFF;
    border-radius: 5px;
}

/*Ttre h3*/
#titre_h3{
    color: #A44EB2;
    margin-top: 20px;
}

/*Block violet n°1*/
#bloc_violet1_accueil{
    margin: 40px 100px 10px;
    width: 339px;
    height: 175px;
    background: #A44EB3;
    border-radius: 5px;
}

/*Block bleu n°2*/
#bloc_bleu2_accueil{
    margin: 40px 100px 10px;
    width: 339px;
    height: 175px;
    background: #62C9F5;
    border-radius: 5px;
}

/*Block violet n°3*/
#bloc_violet3_accueil{
    margin: 40px 100px 10px;
    width: 339px;
    height: 175px;
    background: #A44EB3;
    border-radius: 5px;

}

/*Image logo 1 2 3*/
.numero_logo{
    width: 100px;
    height: 80px;
    margin-top: 20px;
    margin: auto;
}

/*Paragraphe allant avec chaque block*/
.paragraphe1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
}

/*Image cahier*/
#cahier{
    margin: auto;
    width: 219px;
    height: 174px;
}
/*Image tapeMain*/
#tapeMain{
    margin: auto;
    width: 219px;
    height: 174px;
}
/*Image ampoule*/
#main_ampoule{
    margin: auto;
    width: 219px;
    height: 174px;
}
/*Image dev*/
#group_dev{
    margin: auto;
    width: 219px;
    height: 174px;
}

/*_______________________________________________FOOTER____________________________________________*/
/*Couleur de fond du footer*/
footer{
    background:#62C9F5;
    box-shadow: 1px 1px 10px 1px black;
    width: 100%; height: 10%;
    bottom: 0; left: 0; right: 0;
    margin-top: 1%;
}

#link_contact{
    text-align: right;
}
#link_politique{
    text-align: center;
}
#link_mention{
    text-align: left;
}

/*________________________________________________Page Exercice stagiaire____________________________*/
/*Id "Pic" */
#Picsgoodjob{
    width: 150px;
    height: 143px;
    visibility: collapse;
}

/*colum reponse attendu*/
#ID_ParaCorrection{
    width: 294px;
    height: 102px;
    background-color: crimson;
    color: white;
    visibility: collapse;
}

#ColumButton{
    visibility: collapse;
}
/*________________________________________________Page COURS____________________________*/
#logo-SQL,#logo-JS,#logo-PHP,#logo-HTML,#logo-CSS{
    margin-top: 20px;
    border: 3px solid #A44EB3;
    box-sizing: border-box;
    border-radius: 5px;
    height: 200px;
    width: 200px;

}