
#titreAvantHeader{
/* Rectangle 1 */
height: 116px;
width: 100%;
left: 0px;
top: 9px;
border-radius: 0px;
background-color: #62C9F5;
}

h1{
font-family: Roboto;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 75px;
letter-spacing: 0em;
text-align: center;
color: rgba(254, 253, 254, 1);
}

/* MASTER logo */
#logo{
    position: absolute;
    width: 125px;
    height: 116px;
    left: 6.18%;
    right: 84.42%;
    top: 0%;
    bottom: 23.31%;
    background: url(../image/logoGif.gif)
}

#colTitre{
    text-align: center;
}

/*couleur des bouttons */
.btn-primary{
    background: blueviolet;
    border-color: blueviolet;
}

.bg-primary{
    background: blueviolet !important;
    border-color: blueviolet !important;
}
.text-primary{
    color:blueviolet !important;
}

#image_connexion{
    border :10px solid rgba(164, 78, 178, 1)
}


/*image page connexion*/
#image_connexion{
    position:absolute;
    width: 734px;
    height: 1024px;
    left: 0px;
    top: 0px;
    background: url(../image/connexion.jpg);
    border: 10px solid #A44EB3;
    box-sizing: border-box;
}

/* décoration Polygone droite*/
#Polygon_connexion{
    position: absolute;
    width: 755.81px;
    height: 434.38px;
    left: 1550.18px;
    top: -290px;
    background: #A44EB2;
    transform: rotate(41.33deg);
}

/* décoration Polygone gauche*/
#Polygon_inscription{
    position: absolute;
    width: 559.81px;
    height: 350.38px;
    left: -249.18px;
    top: -141px;
    background: #A44EB2;
    transform: rotate(-42.4deg);
    }

    /*image page inscription*/
    #image_inscription{
    position:absolute;
    width: 734px;
    height: 1024px;
    right: 0px;
    top: 0px;
    background: url(../image/inscription.jpg);
    border: 10px solid #A44EB3;
    box-sizing: border-box;
    }